<!-- <div class="bloco">
    <div class="signupSection">
        <form action="#" class="signupForm" name="signupform">
            <ul class="noBullet">
                <li>
                    <label for="nome"></label>
                    <input type="text" class="inputFields" id="nome" name="nome" placeholder="Seu nome" value="" required />
                </li>
                <li>
                    <label for="sugestao"></label>
                    <input type="text" class="inputFields" id="sugestao" name="sugestao" placeholder="Sua sugestão" value="" required />
                </li>
                <li id="center-btn">
                    <input type="submit" id="join-btn" name="join" alt="Join" value="Enviar">
                </li>
            </ul>
        </form>
    </div>
</div>
 -->
